@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.navbar {
  padding: 2rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .btn-box .nav-btn {
  border-radius: 2rem;
  border: none;
  padding: 0.8rem 3rem;
  font-weight: 700;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px hsl(208, 11%, 55%);
}

.navbar .btn-box .nav-btn:hover {
  cursor: pointer;
  color: hsl(208, 11%, 55%);
}

.bg-container {
  background-image: url(images/bg-hero-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.hero-section {
  padding: 2rem 4.8rem;
}

.hero-section .hero-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4.8rem;
  align-items: center;
}

.hero-container .text-box {
  color: hsl(192, 100%, 9%);
}

.hero-container .text-box .primary-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.hero-container .text-box .message {
  margin-bottom: 1.5rem;
  padding-right: 4.5rem;
}

.hero-container .text-box .primary-btn {
  background-color: hsl(322, 100%, 66%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  padding: 0.9rem 4rem;
}

.hero-container .text-box .primary-btn:hover {
  cursor: pointer;
  background-color: hsl(322, 84%, 71%);
}

.hero-container .image-box .hero-image {
  width: 100%;
}

.features-section {
  padding: 9.6rem 6.4rem 0 6.4rem;
  margin-bottom: 15rem;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6.4rem;
}

.features-section .grid .img-box .feature-img {
  width: 100%;
}

.features-section .box {
  color: hsl(192, 100%, 9%);
  padding: 2rem 9rem;
  box-shadow: 0 0 5px hsl(210, 5%, 77%);
  margin-bottom: 2rem;
  border-radius: 0.7rem;
}

.box .text-box .secondary-heading {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.box .text-box .description {
  padding-right: 5.5rem;
  color: hsl(208, 11%, 55%);
}

.flowing-conversation .text-box {
  grid-column: 2;
}

.flowing-conversation .img-box {
  grid-column: 1;
  grid-row: 1;
}

.flowing-conversation .img-box .feature-img {
  grid-column: 1;
  grid-row: 1;
}

.action-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 111rem;
  left: 35rem;
}

.action-box .content-container {
  padding: 3.2rem 4.8rem;
  box-shadow: 0 0 5px hsl(210, 5%, 77%);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
}

.action-box .content-container .secondary-heading {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.action-box .content-container .action-btn {
  background-color: hsl(322, 100%, 66%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  padding: 0.9rem 4rem;
}

.action-box .content-container .action-btn:hover {
  cursor: pointer;
  background-color: hsl(322, 82%, 71%);
}

.footer {
  background-color: hsl(192, 100%, 9%);
  padding: 6.4rem 6.4rem 2rem 6.4rem;
  color: hsl(0, 0%, 100%);
}

.footer .logo {
  margin-bottom: 2rem;
}

.footer .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 1rem;
}

.footer .flex {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer .links .nav-links {
  list-style-type: none;
}

.footer .links .nav-links li {
  margin-bottom: 1rem;
}

.footer .links .nav-links li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.footer .links .nav-links li a:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
}

.footer .social-icons .social-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.footer .social-icons .social-links .social-icon {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

.footer .social-icons .social-links .social-icon:hover {
  color: hsl(322, 100%, 66%);
}

.footer .copyright {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 34em) {
  .navbar {
    padding: 2rem;
  }

  .navbar .logo-box img {
    width: 9em;
  }

  .navbar .btn-box .nav-btn {
    padding: 0.5rem 2rem;
  }

  .bg-container {
    background-image: url(images/bg-hero-mobile.svg);
  }

  .hero-section {
    padding: 3.2rem 2rem;
    text-align: center;
  }

  .hero-section .hero-container {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .hero-container .text-box .primary-heading {
    font-size: 1.5rem;
  }

  .hero-container .text-box .message {
    margin-bottom: 1.5rem;
    padding-right: 0;
  }

  .features-section {
    padding: 6.4rem 2rem 0 2rem;
    position: relative;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .features-section .box {
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .box .text-box .secondary-heading {
    font-size: 1.2rem;
  }

  .box .img-box {
    grid-row: 1;
  }

  .flowing-conversation .text-box {
    grid-column: 1;
  }

  .box .text-box .description {
    padding-right: 0;
    font-size: 0.85rem;
  }

  .action-box {
    width: 100%;
    position: absolute;
    top: 100rem;
    left: 0.2rem;
  }

  .action-box .content-container {
    padding: 2rem 1.5rem;
  }

  .action-box .content-container .secondary-heading {
    font-size: 1rem;
  }

  .action-box .content-container .action-btn {
    padding: 0.8rem 3rem;
  }

  .footer {
    padding: 6.4rem 2rem 2rem 2rem;
  }

  .footer .logo .logo-img {
    width: 10rem;
  }

  .footer .content {
    grid-template-columns: 1fr;
    justify-items: baseline;
    margin-bottom: 1rem;
  }

  .footer .content .contact-info {
    margin-bottom: 2rem;
  }

  .footer .social-icons {
    margin-top: 2rem;
    justify-self: center;
  }

  .footer .copyright {
    text-align: center;
    font-size: 0.7rem;
  }
}
